// Specific CSS for your home-page

.title {
  padding-top: 200px;
  text-align-last: center;
}

.section-2 {
  text-align-last: center;
  margin-top: 50px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
