<div class="container">
  <% if current_user.id == params[:id].to_i %>
    <%= render "shared/current_user_show" %>
  <% end %>

  <%# <div style="border: red; border-style: solid">
    <p> YOu are a part of: </p>
      <% @participants.each do |p|%>
        <%# <%= link_to p.event.name ,event_path(p.event.id)%>
      <%# <% end%>
  <%# </div> %>
</div>
