.app-button {
  border-style: solid;
  border-color: $green;
  background-color: $green;
  color: $white;
  border-radius: 8px;
  text-decoration: none;
  height: 50px;
  width: 300px;
  margin: auto;
  padding: 10px;
}

.app-button:hover {
  border-style: solid;
  border-color: $light-green;
  background-color: $light-green;
  color: $white;
  height: 50px;
  width: 300px;
  border-radius: 8px;
  text-decoration: none;
  margin: auto;
  padding: 10px;
}
