.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: $red;
}

.nav-link {
  color: $white;
  font-weight: 600;
  font-size: larger;
}

.logout-btn {
  color: $white;
  font-weight: 600;
  font-size: larger;
  background-color: $red;
  border-style: none;
  padding-top: 6.5px;
}
