<div class="container">
  <h1>All wishes</h1>
<ul>
  <% @wishlists.each do |wish| %>
    <%= link_to wishlist_path(wish), class:"text-decoration-none" do %>
    <div>
      <h2><%=wish.name%></h2>
    </div>
    <% end %>
  <% end %>
</div>
